<!DOCTYPE html>
<html lang="en">
<head>
	<title>Taskia</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/css/util.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">

<!--==========================================Main Dashboard Body=====================================================-->
</head>
<body>
	<div class="limiter"> 
		<div class="container-login100" style="background-image: url('images/bg-01.jpg');">
			<div class="wrap-login1000 p-l-55 p-r-55 p-t-25 p-b-54">
            <div id="logout"> <a href="#" class="btn btn-danger btn-lg"> <span class="glyphicon glyphicon-log-out"></span> Log out</a> </div>
            <div id="pic"><image src=" " alt="Profile pic"></image></div>
					<span class="login100-form-title p-b-70">
						Taskia - Dashboard
					</span>
                    <div class="row">
                    <h3>Welcome, {{dev}}.</h3> <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createTaskModal" style="margin-left:10px;">
                    Create New Task</button>
                    </div>
                    <br>
                    <!--
                    <table id="task_list" class="stage_hide display">
						<thead>
							<tr>
								<th>Task Name</th>
								<th>Description</th>
								<th>Due Date</th>
								<th>Time Left</th>
								<th>Completed</th>
							</tr>
						</thead>
					</table>
                    -->
			</div>
		</div>
	</div>

	<!--========================================Create Task =======================================================-->
	
<div class="modal fade" id="createTaskModal" role="dialog" aria-labelledby="createTaskLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content" id="create_task_modal">
				<div class="modal-header">
					<button type="button" class="close close-modal"
						data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body" id="create_task_modal_body">
					<div class="alert alert-modal" hidden="hidden">
						<button type="button" class="close" data-hide="alert">&times;</button>
						<p class='alert-text'></p>
					</div>

	        	<form id="createTaskForm" class="login100-form validate-form">
					<span class="login100-form-title p-b-49">
						Create Task
					</span>

					<div class="wrap-input100 validate-input m-b-23" data-validate ="Task Name is required">
						<span class="label-input100">Task Name</span>
						<input class="input100" type="text" id="taskname" name="taskname" placeholder="Task Name">
						<span class="focus-input100"></span>
					</div>

                    <div class="wrap-input100 validate-input m-b-23" data-validate = "Task Description is required">
						<span class="label-input100">Task Description</span>
						<input class="input100" type="text" id= "taskdescr" name="taskdescr" placeholder="Task Description">
						<span class="focus-input100"></span>
					</div>

                    <div class="wrap-input100 validate-input m-b-23" data-validate = "Due Date required">
						<span class="label-input100">Due Date<span>
						<input type="text" class="input100 calendar" id="due_date" name="due_date"
									placeholder="The Due Date" data-validation="isItLater" data-validation="isItFuture due_date"
									data-validation-format="mm-dd-yyyy"
									data-validation-error-msg-birthdate="Please enter the date in mm-dd-yyyy format"
									data-datable="mmddyyyy" data-datable-divider="-" />
						<span class="focus-input100"></span>
					</div>
					
						<div class=" container-login100-form-btn btn-toolbar">
							<input type="button" id="createTaskSub" class="btn btn-danger btn-lg" value="Cancel" style="margin-right:5px;">

							<input type="button" id="createTaskCan" class="btn btn-success btn-lg" value="Submit">
						</div>
					
				</form>

			</div>
		</div>
	</div>
</div>

<!--========================================Edit Task =======================================================-->

<div class="modal fade" id="editCreateTaskModal" role="dialog" aria-labelledby="createTaskLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content" id="edit_create_task_modal">
				<div class="modal-header">
					<button type="button" class="close close-modal"
						data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body" id="edit_create_task_modal_body">
					<div class="alert alert-modal" hidden="hidden">
						<button type="button" class="close" data-hide="alert">&times;</button>
						<p class='alert-text'></p>
					</div>

	        	<form id="editCreateTaskForm" class="login100-form validate-form">
					<span class="login100-form-title p-b-49">
						Edit Task
					</span>

					<div class="wrap-input100 validate-input m-b-23" data-validate ="Task Name is required">
						<span class="label-input100">Task Name</span>
						<input class="input100" type="text" id="edittaskname" name="edittaskname" placeholder="Task Name">
						<span class="focus-input100"></span>
					</div>

                    <div class="wrap-input100 validate-input m-b-23" data-validate = "Task Description is required">
						<span class="label-input100">Task Description</span>
						<input class="input100" type="text" id= "edittaskdescr" name="edittaskdescr" placeholder="Task Description">
						<span class="focus-input100"></span>
					</div>

                    <div class="wrap-input100 validate-input m-b-23" data-validate = "Due Date required">
						<span class="label-input100">Due Date<span>
						<input type="text" class="input100 calendar" id="edit_due_date" name="edit_due_date"
									placeholder="The Due Date" data-validation="isItLater" data-validation="isItFuture due_date"
									data-validation-format="mm-dd-yyyy"
									data-validation-error-msg-birthdate="Please enter the date in mm-dd-yyyy format"
									data-datable="mmddyyyy" data-datable-divider="-" />
						<span class="focus-input100"></span>
					</div>

                    <div class="wrap-input100">
						<span class="label-input100">Completed</span>
						 <select id = "completeTask" name ="completeTask">
                                <option value="1">True</option>
                                <option value="0">False</option>
                        </select> 
						<span class="focus-input100"></span>
					</div>
					
						<div class=" container-login100-form-btn btn-toolbar">
							<input type="button" id="editcreateTaskSub" class="btn btn-danger btn-lg" value="Cancel" style="margin-right:5px;">

							<input type="button" id="editcreateTaskCan" class="btn btn-success btn-lg" value="Submit">
						</div>
					
				</form>

			</div>
		</div>
	</div>
</div>

<!--===============================================================================================
<script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
<!===============================================================================================
<script src="/vendor/animsition/js/animsition.min.js"></script>
<!===============================================================================================
<script src="/vendor/bootstrap/js/popper.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<!===============================================================================================
<script src="/vendor/select2/select2.min.js"></script>
<!===============================================================================================
<script src="/vendor/daterangepicker/moment.min.js"></script>
<script src="/vendor/daterangepicker/daterangepicker.js"></script>
<!===============================================================================================
<script src="/vendor/countdowntime/countdowntime.js"></script>
<!===============================================================================================
-->

<script src="/js/dashboard.js"></script>
<script src="/js/main.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>

</body>
</html>